@charset "utf-8";

h1 {
    font-family: 'Comfortaa', cursive;
    color: #000069;
    font-size:65px;
}
h2 {
    font-family: 'Jua', sans-serif;
    color: #000069;
}

#map{
    display: inline-block;
    width:500px;
    height:500px;
}
.main-space{
    text-align:center;
}

.board-space{
    overflow:auto;
    display: inline-block;
    background-color: #D2D2FF;
    width:500px;
    height:500px;
}

.login-form{
    width: 40%;
    display: inline-block;
    text-align:center;
}
.add-member-form{
    margin-left: 5%;
    width: 60%;
}
.add-board-form{
    display: inline-block;
    margin-left: 5%;
    width: 70%;
    height: 100%;
}
.menuBar{
    display: inline-block;
    text-align: right;
    width: 1000px;
}
#btnAddBoard {
    font-size: 30px;
    font-family: 'Jua', sans-serif;
    width: 400px;
    height: 70px;
    color: #f0f0f0;
    background-color: #0dcaf0
}
.markerButton{
    font-family: 'Jua', sans-serif;
    color: #f0f0f0;
    background-color: #0dcaf0;
    border-radius: 1rem;
}